/* Navbar */
.navbar{
    min-width: 100vw;
    background-color: #161616;
}

.nav-list{
    margin: 0;
    padding: 1rem;
    display: flex;
    list-style-type: none;
    justify-content: end;
    column-gap: 1.5rem;
    margin-right: 2rem;
}

.nav-list-item:hover{
    cursor: pointer;
    color: gray;
}

.nav-list-item:active{
    color: rgb(73, 73, 73);
}

/* MainView */
.header-box {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-text {
    font-size: 3rem;
}

/* Log in */

.form-container {
    margin-top: 2rem;
    display: flex;
    background: rgb(34, 33, 33);
    flex-direction: column;
    font-size: 28px;
    row-gap: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.form-input {
    min-width: 20rem;
    min-height: 2rem;
    border: solid black 1px;
    border-radius: 25px;
    padding: 0.4rem;
}

.form-btn {
    min-width: 12rem;
    min-height: 2.5rem;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.form-btn:hover{
    background-color: azure;
    color: black;
}

.form-btn:active{
    background-color: rgb(157, 155, 155);
    color: black;
}

/* UserDashboard */

.content-container {
    background-color: #202020;
    border-radius: 25px;
    border: solid black 1px;
    margin-left: 1rem;
}

.main-content{
    min-width: 75vw;
    min-height: 50vh;
    padding: 1rem;
    padding-top: 0rem;
    margin-left: auto;
    margin-right: auto;
}

.side-content{
    max-height: min-content;
    min-width: 15vw;
    padding: 1rem;
    padding-top: 0rem;
}

#dash-container {
    display: flex;
    justify-content: space-between;
}

/* Sidebar */

.sidebar-list{
    font-size: 24px;
    font-weight: bold;
    list-style-type: none;
    margin: 0px;
}

.sidebar-li {
    margin-top: 2rem;
}

.selected-sidebar-li{
    margin-top: 2rem;
    color: rgb(83, 3, 82);
}

.sidebar-li:hover {
    cursor: pointer;
    color:rgb(157, 155, 155);
}

.sidebar-li:active{
    color: rgb(99, 99, 99);
}

/* Main Content */
.default-text{
    text-align: center;
    padding: 1rem;
    font-size: 36px;
}

/* User Details */
#user-details-header{
    text-align: center;
    font-size: 6rem;
}

.user-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-details-list{
    list-style-type: none;
    font-size: 3rem;
}

.user-details-li{
    margin-left: 1rem;
}

.li-box{
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

/* User project list */

.project-main-container{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 100%;
}

.created-project-container{
    border-radius: 15px;
    min-width: 49%;
    min-height: 40rem;
    border: 1px solid white;
}

.collab-project-container{
    border-radius: 15px;
    min-width: 49%;
    min-height: 40rem;
    border: 1px solid white;
}

.project-listing{
    width: fit-content;
    margin-left: 1rem;
    padding: 0.10rem;
}

.project-listing:hover{
    color: rgb(173, 170, 170);
    cursor: pointer;
}

.project-listing:active{
    color: rgb(81, 80, 80);
}

/* Project View */
.project-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 75vw;
}

.project-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    min-width: 30vw;
    column-gap: 3rem;
}

.grid-item-1{
    grid-column-start: 1;
}
.grid-item-2{
    grid-column-start: 2;
}
.grid-item-3{
    grid-column-start: 3;
}

.project-section-rows{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    align-items: center;
}

.git-link-btn{
    border: 1px solid rgb(235, 235, 235);
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    color: #202020;
    font-size: 16px;
    text-decoration: none;
}

.git-link-btn:hover{
    border: 1px solid rgb(208, 207, 207);
    background-color: rgb(208, 207, 207);
}

.git-link-btn:active{
    border: 1px solid rgb(126, 126, 126);
    background-color: rgb(126, 126, 126);
}

.project-footer{
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
}

.clickable-box{
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.clickable-box:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

.clickable-box:active{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(69, 69, 69, 0.5);
}

/* Modal */

.modal-back{
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 35vw;
    height: 70vh;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.modal-btn{
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    align-self: end;
}

.modal-container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-input-div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.modal-input-div-checkbox{
    min-width: 41rem;
    min-height: 2rem;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.modal-input-label{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal-input-label-checkbox{
    font-size: 30px;
    font-weight: bold;
}

.modal-input-field{
    max-width: 40rem;
    min-width: 40rem;
    min-height: 2rem;
    font-size: 24px;
    padding: 0.5rem;
}

.modal-input-checkbox{
    min-width: 5rem;
    min-height: 2rem;
    padding: 0.5rem;
    font-size: 24px;
}

/* Modal Items */
.modal-list{
    display: flex;
    flex-direction: column;
}

.modal-list-item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.modal-list-item:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

.modal-list-item:active{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(69, 69, 69, 0.5);
}

.selected-item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-item-dev-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: start;
    padding: 0;
    margin: 0;
}

.modal-form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.modal-form-title{
    height: 2rem;
}

.modal-form-desc{
    height: 5rem;
}

.modal-form-btn{
    height: 2rem;
}